* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px 30px;
  border-radius: 15px;
  border: 4px solid rgba(0, 0, 0, 0.711);
  box-shadow: 0 20px 35px rgba(16, 13, 13, 0.2);
  text-align: center;
  width: 320px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #2575fc;
}

button {
  background-color: #2575fc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1a5ed1;
}

p {
  margin-top: 25px;
  color: #555;
  font-style: italic;
  font-size: 15px;
}
.container:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
